<app-header></app-header>

<div class = "main">
    <div class = "content">
        <div class = "item-wrapper">
            @for (result of item; track $index) {
                <div class="card mb-3" style="max-width: 540px;margin: 50px auto;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{result['url']}}" class="img-fluid rounded-start" alt="{{result['name']}}">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{result['name']}}</h5>
                          <p class="card-text">${{result['price']}}</p>
                          <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                          <div>
                            <a [routerLink] = "['/']" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                  </svg>
                                Home</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="card text-bg-light mb-3" style="max-width: 540px;margin: auto;">
                    <div class="card-header">Description</div>
                    <div class="card-body">
                      <!-- <h5 class="card-title">Light card title</h5> -->
                      <p class="card-text">{{result['description']}}</p>
                    </div>
                </div>
                  
            }
            <!-- <div class="card text-center" style="width: 400px;">
                @for (result of item; track $index) {
                    <div class="card mb-3">
                        <img src="{{result['url']}}" class="card-img-top" alt="{{result['name']}}">
                        <div class="card-body">
                          <h5 class="card-title">{{result['name']}}</h5>
                          <p class="card-text">{{result['price']}}</p>
                          <p class="card-text"><small class="text-body-secondary">{{result['description']}}</small></p>
                          <div>
                            <a routerLink="['/']" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                  </svg>
                                Home</a>
                          </div>
                        </div>
                    </div>
                }
            </div> -->
        </div>
    </div>
</div>