<div class="d-flex justify-content-center" style="background-color: rgba(0,0,0,0.3);
display: none;position: absolute;width: 100%;height: 100%;z-index: 999;">
    <div class="spinner-border" role="status" style="margin-top: 300px;">
      <span class="sr-only"></span>
    </div>
</div>

<app-header (search_Item)="searchItems($event)" [totalOrders] = "numberOfOrder"></app-header>

<div class = "main">
    <div class = "container">

        <div class = "items-wrapper">
            <div class="row row-cols-1 row-cols-md-6 g-4" style="margin-top: 20px;">
                @for (item of productList; track $index) {
                    <div class="col">
                        <div class="card">
                          <img src="{{ item['url'] }}" class="card-img-top" alt="{{ item['name'] }}">
                          <div class="card-body">
                            <h5 class="card-title">{{ item['name'] }}</h5>
                            <p class="card-text">${{ item['price'] }}</p>
                            <a [routerLink]="['/product-item-details', item['id']]" routerLinkActive="router-link-active"  target="_self" routerLinkActive="router-link-active"  class="btn btn-primary">Add To Cart</a>
                          </div>
                        </div>
                          
                    </div>
                }

            </div>
        </div>
    </div>
</div>
