<div class="d-flex justify-content-center" style="background-color: rgba(0,0,0,0.3);
display: none;position: absolute;width: 100%;height: 100%;z-index: 999;">
    <div class="spinner-border" role="status" style="margin-top: 300px;">
      <span class="sr-only"></span>
    </div>
</div>

<app-header  [totalOrders] = "numberOfOrder"></app-header>

<div class = "main">
    <div class = "content">
        <div class = "item-wrapper">
            @for (item of product; track $index) {
                <div class="card mb-3" style="max-width: 840px;margin: 100px auto;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{ item['url'] }}" class="img-fluid rounded-start" alt="{{ item['name'] }}">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{ item['name'] }}</h5>
                          <p class="card-text">${{ item['price'] }}</p>
                          <p class="card-text"><small class="text-body-secondary">{{ item['description'] }}</small></p>
                          <div style="margin-bottom: 10px;">
                            <select class="form-select" name = "Quantity" [(ngModel)]="quantity" #$Quantity="ngModel" aria-label="Default select example">
                              <option selected>1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </div>

                          <div>
                            <button type="button" (click)="addToCart(item['name'],item['price'],item['url'],item['description'])" class="btn btn-primary">Add To Cart</button>
                          </div>

                          <div style="margin-top: 20px;">
                            <svg xmlns="http://www.w3.org/2000/svg" [routerLink]="['/']" width="26" height="26" style="margin-right: 10px;margin-top: 10px;" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                              <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                            </svg>

                            <!-- <svg xmlns="http://www.w3.org/2000/svg" [routerLink]="['/cart']" width="26" height="26" style="margin-left: 10px;margin-top: 10px;" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg> -->
                          </div>
                          <!-- <input class="btn btn-primary" type="button" value="Add To Cart"> -->
                        </div>
                      </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
