<div class="d-flex justify-content-center" style="background-color: rgba(0,0,0,0.3);
display: none;position: absolute;width: 100%;height: 100%;z-index: 999;">
    <div class="spinner-border" role="status" style="margin-top: 300px;">
      <span class="sr-only"></span>
    </div>
</div>

<app-header [totalOrders] = "numberOfOrder"></app-header>

<div class = "main">
    <div class = "content">

        <div class = "checked-items-wrapper">

          <div class = "signIn-container" style="width: 30rem;margin: 100px auto;">
            <div>
              <form #signInForm = "ngForm">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" name = "User_Email" required [(ngModel)]="user_email" #User_Email = "ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text" *ngIf="User_Email.invalid">Please enter your email address</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" name = "User_Password" required [(ngModel)]="user_password" #User_Password = "ngModel" class="form-control" id="exampleInputPassword1">
                  <div id="emailHelp" class="form-text" *ngIf="User_Password.invalid">Please enter your password</div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="signInForm.invalid"  (click)="signIn()">Login</button>

              <div>
                <span>Don't have account? <button type="button" class="btn btn-dark" style="background: none;border: none;color: black;" (click)="viewRegisterForm()">Register</button></span>
              </div>
              </form>
            </div>
          </div>



          <div class="card" style="width: 30rem;margin: 100px auto;display: none;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <form #loginForm = "ngForm" (ngSubmit)="registerName()">
                <div class="mb-3">
                  <label for="exampleInputFirstName1" class="form-label">First Name</label>
                  <input type="text" class="form-control" required name = "FirstName" [(ngModel)]="firstName" #FirstName = "ngModel" id="exampleInputFirstName1" aria-describedby="FirstNameHelp">
                  <div id="FirstNameHelp" class="form-text" *ngIf="FirstName.invalid">Please Enter Your First Name</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputLastName1" class="form-label">Last Name</label>
                  <input type="text" class="form-control" required name = "LastName" [(ngModel)]="lastName" #LastName = "ngModel" id="exampleInputLastName1" aria-describedby="LastNameHelp">
                  <div id="LastNameHelp" class="form-text" *ngIf="LastName.invalid">Please Enter Your Last Name</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email Address</label>
                  <input type="email" class="form-control" required name = "Email" [(ngModel)]="email" #Email = "ngModel" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text" *ngIf="Email.invalid">Please Enter Your Email Address</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" required minlength="5" maxlength="10" name = "Password" [(ngModel)]="password" #Password = "ngModel" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label for="floatingTextarea2">Address</label>
                  <textarea class="form-control" name = "PhysicalAddress" [(ngModel)]="physicaladdress" #PhysicalAddress = "ngModel" placeholder="Physical Address" id="floatingTextarea2" style="height: 100px"></textarea>
                  <!-- <div id="emailHelp" class="form-text" *ngIf="FirstName.invalid">Please Enter Your First Name</div> -->
                </div>

                <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
            </form>
            </div>
          </div>

          <div class = "items-wrapper">
            <div class = "items-container" style="display: none;">
              <div class = "button" style="margin: 20px;">
                <button type="button" class="btn btn-primary btn-sm" style="z-index: 10;" (click)="checkoutItems()">Checkout 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                  </svg>
                </button>
              </div>

              <div>
                <hr/>
              </div>
              <div class="row row-cols-1 row-cols-md-6 g-4">
                @for (item of ordersList; track $index) {
                  <div class="col">
                    <div class="card" style="margin: 20px;">
                      <img src="{{ item['url'] }}" class="card-img-top" alt="{{ item['name'] }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ item['name'] }}</h5>
                        <p class="card-text">${{ item['price'] }}</p>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>

        </div>
    </div>
</div>
